{% extends 'base.admin.html.twig' %}

{% block title %}Zone de livraison{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title"> Code promo </h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Commandes</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Code Promo</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Liste des codes </h4>

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Libelle</th>
                                    <th>Montant</th>
                                    <th>Quartiers</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for zone in zones %}
                                    <tr>

                                        <td><label class="badge badge-success">{{ zone.libelle }}</label></td>
                                        <td class="text-success"> {{ zone.montant}} </td>
                                        <td><label class="badge badge-success">{{ zone.quartiers }}</label></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 grid-margin ">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Ajouter un code promo</h4>
                        <form method="post" action="{{ path('app_admin_zone_add') }}">

                            <div class="form-group row">
                                <label for="hihi" class="col-sm-3 col-form-label">Nom de la zone </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="hihi" placeholder="Nom de la zone" name="nom">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="hihi" class="col-sm-3 col-form-label">Montant livraison </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="hihi" placeholder="" name="montant">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="hihi" class="col-sm-3 col-form-label">Quartiers </label>
                                <textarea name="quartiers" class="form-control"></textarea>
                            </div>
                            <input type="submit" class="btn btn-primary mr-2" value="Ajouter">
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}
